body{
    border: 3px;
    /* padding: auto; */
    /* padding-top: 3rem; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: rgb(252, 253, 236);
    color: rgb(1, 1, 43);
}

body.darkMode{
    background-color:  rgb(1, 1, 43);
    color: rgb(252, 253, 236);
}

.left_side_bar{
    height: 250vh;
    /* position: fixed; */
    left: 0;
    top: 0;
    background-color: rgb(1, 1, 43);
    color: rgb(220, 250, 255);
    padding-left: 2.5em;
    padding-top: none;
}
body.darkMode .left_side_bar{
    background-color: rgb(252, 253, 236);
    color: rgb(1, 1, 43);
}

#photo{
    /* display:block; */
    width: 12em;
    border-radius: 50%;
    margin-left: 0.8em;
    /* margin:auto; */
    padding-left: 0;
    margin-top: 1.5em; 
}

body.darkMode #photo{
    border-width: 2px;
    border-style: solid;
    border-color: #001727;
}

.left_side_bar .left_title{
    padding-left: 0.3em;
}

#name{
    padding-top: 2rem;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.left_side_bar li{
    color: rgb(174, 179, 178);
    font-size: smaller;
}
body.darkMode .left_side_bar li,
body.darkMode .left_side_bar a{
    color: rgb(59, 59, 80);
}
.left_side_bar a{
    color:  rgb(174, 179, 178);
}

.main_content{
    margin-top: 2em;
    margin-left: 2em;
    padding: 2rem 1.rem;
    font-size: 25px;
    /* width: 100%; */
}

#myList{
    list-style: none; 
    padding-left: 20px; 
    gap: 10px;
}

table{
    padding-top: 1em;
    border-radius: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid rgb(3, 0, 48);
    border-radius: 20px;
    font-size: smaller;
}
body.darkMode th,
body.darkMode td{
    border: 1px solid rgb(252, 252, 253);
}

body.darkMode p{
    color: rgb(252, 253, 236);
}
p{
    font-size: smaller;
    color: rgb(42, 40, 55);
}

.section-head {
    display: flex;       
    align-items: center; 
    white-space: nowrap;    
    gap: 15px;          
    padding-bottom: 0.5em;
    width: 60%;
}

/* .inline-hr {
    flex-grow: 1;        
    border: none;
    border-top: 1.5px solid rgb(1, 1, 43);
    margin: 0;           
    opacity: 1;  
    max-width: none;     
}

body.darkMode .inline-hr{
    border-top: 1.5px solid rgb(247, 247, 248);
} */

a:hover{
    color: rgb(11, 1, 34);
    background-color: rgb(253, 253, 188);
}

.list{
    font-size: large;
}

#top-right-btn {
    position: fixed;   
    top: 10px;        
    right: 20px;       
    z-index: 1002;     
    padding: 5px 20px;
    background-color: rgb(3, 0, 48);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#top-right-btn:hover {
    background-color: #186ba3;
}
.collapsible {
    display: none;
    padding-left: 1.5em;
}
.toggle:hover{
    color: rgb(240, 236, 155);
}
body.darkMode .toggle:hover{
    color: rgb(103, 98, 12);
}
.arrow{
    font-size: 0.6em;
    margin-right: 5px;
    display: inline-block;
}

.top-nav {
    background-color: rgb(236, 240, 212);
    color: rgb(11, 2, 70);
    padding: 1rem 2rem;
    position: sticky; 
    top: 0;
    z-index: 1001;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 50px;
}

.nav-container {
    display: flex;
    justify-content: left space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-brand {
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 0.1px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links a{
    color: rgb(11, 2, 70);
    text-decoration: none;
    font-size: 1.3rem;
    transition: 0.3s;
}

@media (min-width: 768px) and (max-width: 1400px) {
    #photo{
        width: 8em;
    }
    #name{
        padding-left: 2rem;
    }
    .nav-links a{
        font-size: 1.2rem;
    }
    .nav-brand{
        font-size: 1.5rem;
    }
}

@media (max-width:760px){
    .left_side_bar{
        height: 120vh;
    }
    .nav-links a{
        font-size: 0.9rem;
    }
    .nav-brand{
        font-size: 1rem;
    }
}